{% load static %}
{% load basepath %}
<!DOCTYPE html>
<html lang="fa" dir="RTL">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>سامانه صدور فاکتور</title>   

    <!-- Bootstrap core CSS -->
<link href="{% static 'bt/css/bootstrap.min.5.0.css' %}" rel="stylesheet">
<link href="{% static 'bt/css/style.css' %}" rel="stylesheet">

<link rel ="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <style>
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.bg-dark {
  background-color: #555555 !important;
}
header .navbar-default ul.navbar-nav li a:hover:after {
    background-color: transparent;
}

.modal-dialog {
  max-width: max-content !important;
}

.modal-body {
  display: flex;
}

.modal-body img {
  object-fit: contain;
}
</style>   
   
    
  </head>
<body id="page-top" class="rtl">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark " id="mainNav">
		<div class="container">
			<span class="navbar-brand js-scroll-trigger " ><img src="{% static 'bt/pics/logo.png' %}" alt="" height="36"> سامانه فاکتور </span>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				{% if request.user.is_authenticated %}
				<ul class="navbar-nav ml-auto my-2 my-lg-0">
				    <li class="nav-item text-decoration-none">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/makefactor','_self');">ساخت فاکتور</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/factorlist','_self');">لیست فاکتور</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/addcustomer','_self');">افزودن مشتری</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/addproduct','_self');">افزودن کالا</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/addseller','_self');">افزودن فروشنده</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('{% static '/1.docx' %}','_self');" >دانلود فایل نمونه پرینت کارت</button>
					</li>
					<li class="nav-item">
						<button class="nav-link js-scroll-trigger btn btn-outline-secondary" onclick="window.open('/uploadtpl','_self');">آپلود فایل نمونه</button>
					</li>					 
				</ul>
				<ul class="navbar-nav me-auto ">
					<li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{request.user.first_name}} <i class="fa fa-user"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
						<li><button class="dropdown-item btn btn-outline-secondary" onclick="window.open('/changepass','_self');"> تغییر رمز عبور  </button></li>
						<li><hr class="dropdown-divider"></li>
						<li><button class="dropdown-item btn btn-outline-secondary" onclick="window.open('/logout','_self');"> خروج  </button></li>
					  </ul>
					</li>
				</ul>
				{% endif %}
			</div>
		</div>
	</nav>
	
	<main class="container">  
		<div class="bg-light p-5 rounded">
				{% if request.user.is_authenticated %}
				{% if var1 == 1 %}
					<div class="col-lg-8 align-self-baseline">
						<p class="text-white-75 font-weight-light mb-5">{{ memo }} </p>
						<a class="btn btn-primary btn-l js-scroll-trigger" href="#" onclick="loadershow();window.open('/','_self');"> بازگشت </a>
					</div>
				{% elif var1 == 2 %}
				<form  class="row" id="login" method="post" enctype="multipart/form-data" action="/{{dest}}/" >
				    {% csrf_token %}
							<input type="hidden" name="idnum" id="idnum" />
				            {% for field in form %}
					        <div class="col-md-3 mb-3" >
								{{ field.label_tag }}
							</div>
							<div class="col-md-3 mb-3" >
								{{ field}}
							</div>
							{% endfor %}
					<div class="col-12 mb-3">
					    <button class="btn btn-primary btn-l ">ذخیره</button>
                    </div>
				</form>
				{% elif var1 == 3 %}
				
				<form  class="mb-3" id="login" method="post"  enctype="multipart/form-data" action="/factorlist/" >
					{% csrf_token %}
					<div class="input-group">
						<div class="col-sm-2">
						<input class="form-control" type="text" name="idnum" id="idnum" value="{{data}}" />
						</div>
						<div class="input-group-append">
							<input class="btn btn-primary"  type="submit"  value="جستجو" />	
						</div>
					</div>
				</form>
				
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover" id="userTable">
						<tr>
						<th  onclick="sortTable(0)" >شماره کارت</th>
						<th  onclick="sortTable(1)" >نام فروشنده</th>
						<th  onclick="sortTable(2)" >نام خریدار</th>
						<th> تاریخ فاکتور </th>
						<th>بارکد</th>
						<th></th>
						<th></th>
						<th></th>
						</tr>						
						{% for i in objlst %}
						<tr>
						<td>{{i.id}}</td>
						<td>{{i.seller_name}}</td>
						<td>{{i.customer_name}}</td>
						<td>{{i.date}}</td>
						<td>{{i.barcode}}</td>
						<td><button class="btn btn-primary"  onclick="loadershow();window.open('/printfactor?id={{i.id}}&title=فاکتور کالا و خدمات','_self');">چاپ فاکتور</button></td>
						<td><button class="btn btn-primary"   onclick="loadershow();window.open('/editfactor?id={{i.id}}','_self');">ویرایش</button></td>
						<td><button class="btn btn-danger"   onclick="loadershow();window.open('/delfactor?id={{i.id}}','_self');">پاک شود</button></td>
						</tr>
						{% endfor %}
					</table>
				</div>
				
				{% elif var1 == 4 %}
				
				<form  class="row" id="login" method="post" enctype="multipart/form-data" action="/{{dest}}/" novalidate>
				    {% csrf_token %}
							<input type="hidden" name="idnum" id="idnum" value="{{idx}}" />
				            {% for field in form %}
					        <div class="col-md-2 mb-3" >
								{{ field.label_tag }}
							</div>
							<div class="col-md-2 mb-3" >
								{{ field}}
								{% if forloop.counter == 2 %}
								<button type="button" class="btn btn-primary" onclick="jax();">+</button>
								{% endif %}
							</div>
							{% endfor %}													
							{% for field in form2 %}
					        <div class="col-md-2 mb-3" >
								{{ field.label_tag }}
							</div>
							<div class="col-md-2 mb-3" >
								{{ field}}
							</div>
							{% endfor %}
					<div class="col-12 mb-3">
					    <button class="btn btn-primary btn-l "> افزودن کالا</button>
                    </div>
				</form>						
				
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover" id="userTable">
						<tr>
						<th> ردیف </th>						
						<th> نام کالا </th>
						<th> تعداد </th>
						<th> فی </th>
						<th> قیمت </th>
						<th></th>
						</tr>
						{% for i in obj %}	
						<tr>
						<td>{{forloop.counter}}</td>
						<td>{{i.obj_name}}</td>
						<td>{{i.number}}</td>
						<td>{{i.obj_name.fee}}</td>
						<td>{{i.mul}}</td>
						<td><button class="btn btn-danger"  onclick="loadershow();window.open('/delobj?id={{i.id}}','_self');">پاک شود</button></td>
						</tr>
						{% endfor %}
						<tr>
						<td colspan=5 >مجموع</td>
						<td>{{sum}}</td>
						</tr>						
					</table>
				</div>
				
				<button class="btn btn-primary"  onclick="loadershow();window.open('/printfactor?id={{idx}}&title=فاکتور کالا و خدمات','_self');">نمایش فاکتور</button>
				
				{% elif var1 == 7 %}
					<form  class="row" id="login" method="post" enctype="multipart/form-data" action="/uploadtpl/" >
				    {% csrf_token %}
				    <div class="col-12 mb-3">
				            <label for="file">آپلود فایل نمونه کارت:</label>
							<input type="file" name="file" id="file"  />
				    </div>
					<div class="col-12 mb-3">
					    <button class="btn btn-primary btn-l ">آپلود</button>
                    </div>
				</form>
				{% endif %}
				{% else %}
                <div class="col-lg-12 align-self-end">
					<h1 id='ajaxctl' class="text-uppercase text-white font-weight-bold">خوش آمدید   </h1>
					<a class="btn btn-primary btn-l js-scroll-trigger" href="#" onclick="loadershow();window.open('/efactor/signin','_self');">وارد شوید</a>				    
				</div>
				{% endif %}
		</div>
	</main>

	{% if request.user.is_authenticated %}
    <!-- Modal 1  {backdrop:'static', keyboard: false , show: true } -->
	<div class="modal fade" tabindex="-1"   id="customer" name="customer"  aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<h1 class="modal-title fs-5" id="exampleModalLabel">افزودن مشتری</h1>			
		  </div>
		  <div class="modal-body">
			
			<form  class="row" id="f_cust" method="post"  action="" >
				    {% csrf_token %}
							<input type="hidden" name="idnum" id="idnum" />
				            
					        <div class="col-md-3 mb-3" >
								<label for="id_name">نام و نام خانوادگی:</label>
							</div>
							<div class="col-md-3 mb-3" >
								<input type="text" name="name" maxlength="100" required id="id_name">
							</div>
							
					        <div class="col-md-3 mb-3" >
								<label for="id_tel">شماره تلفن:</label>
							</div>
							<div class="col-md-3 mb-3" >
								<input type="text" name="tel" maxlength="10" id="id_tel">
							</div>
							
					        <div class="col-md-3 mb-3" >
								<label for="id_address">آدرس:</label>
							</div>
							<div class="col-md-3 mb-3" >
								<input type="text" name="address" maxlength="100" id="id_address">
							</div>
							
					<div class="col-12 mb-3">
					    <button class="btn btn-primary "  >افزودن</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    </div>
				</form>
			
		  </div>		  
		</div>
	  </div>
	</div>
    <!-- Modal 2  {backdrop:'static', keyboard: false , show: true } -->
    <div class="modal bottom fade" tabindex="-1"  id="loader" name="loader"  data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-frame modal-bottom text-center">
            <div class="farvahar"></div>
        </div>
    </div>	
	{% endif %}

    <!--Bootstrap core JavaScript -->
	<script src="{% static 'bt/js/jquery.min.js' %}"></script>
    <script src="{% static 'bt/js/bootstrap.bundle.min.js' %}"></script>	
    {{ form.media }}  
    
    <script>    
    
	//document.querySelectorAll('form').forEach(form => form.addEventListener('submit', loadershow));
    window.addEventListener("unload", loaderhide);
    document.addEventListener("DOMContentLoaded", loaderhide);	
	var modal1 = new bootstrap.Modal(document.getElementById('loader'));
	var modal2 = new bootstrap.Modal(document.getElementById('customer'));
	
	function loadershow () {
        modal1.show();
    }
    function loaderhide () {
        modal1.hide();   
	}
	function jax() {
	 modal2.show();
	}
	

	f_cust.onsubmit = async (e) => {
    e.preventDefault();

	let response = await fetch('/addcustomer/', {
		  method: 'POST',
		  body: new FormData(f_cust)
		});

    let result = await response.json();	
	var selectElement = document.getElementById('id_customer_name');
	selectElement.innerHTML = "";
	for (const a of result.data) { 
		selectElement.add(new Option(a));
		}
	modal2.hide();	
	};
	
	
	
	function sortTable(z) {
	  var table, rows, switching, i, x, y, shouldSwitch;
	  table = document.getElementById("userTable");
	  switching = true;
	  /*Make a loop that will continue until
	  no switching has been done:*/
	  while (switching) {
		//start by saying: no switching is done:
		switching = false;
		rows = table.rows;
		/*Loop through all table rows (except the
		first, which contains table headers):*/
		for (i = 1; i < (rows.length - 1); i++) {
		  //start by saying there should be no switching:
		  shouldSwitch = false;
		  /*Get the two elements you want to compare,
		  one from current row and one from the next:*/
		  x = rows[i].getElementsByTagName("TD")[z];
		  y = rows[i + 1].getElementsByTagName("TD")[z];
		  //check if the two rows should switch place:
		  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
			//if so, mark as a switch and break the loop:
			shouldSwitch = true;
			break;
		  }
		}
		if (shouldSwitch) {
		  /*If a switch has been marked, make the switch
		  and mark that a switch has been done:*/
		  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
		  switching = true;
		}
	  }
	}
    </script>

</body>
</html>
